/Les 2/build/
/Les 2/Terminal/build/
/Les 2/JavaFX/nbproject/private/
/Les 2/JavaFX/dist/
/Les 2/JavaFX/build/
/Les 2/Terminal/nbproject/private/
/Les 2/Terminal/dist/
/Les 3/Terminal/build/
/Les 4/Part 2/Terminal/dist/
/Les 5/Client/nbproject/private/
/Les 5/Server/build/
/Les 5/Client/dist/
/Les 5/Client/build/
/Les 5/Server/dist/